<ul class="list-group">
  <li class="list-group-item disabled"><span><b>List Track</b></span></li>
  <li class="list-group-item"  
    *ngFor="let item of tracks">
    <img [src]="item.album.images.length != 0 ? item.album.images[0].url : ''"/>
    <p>Name: {{item.name}}</p>
    <p>Type: {{item.type}}</p>
    <p>Release date: {{item.album.release_date}}</p>
    <audio [src]="item.preview_url !== '' ? item.preview_url : ''" controls="controls" style="margin-right:10px" class="col-md-6"></audio>
  </li>
</ul>
